version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: dockerfile.dev
    container_name: my-backend-go
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=mysecretpassword
      - DB_NAME=study_app
      - DB_PORT=5432
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - GIN_MODE=debug
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    container_name: my-backend-postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=study_app
      - TZ=Asia/Shanghai
    volumes:
      - ./pg_data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    ports:
      - "5432:5432"
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: my-backend-redis
    restart: always
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge